/*Alan's Github*/

body {
      background-color: #FFFFFF;
      color: #000000;
      border: none;
      margin:0px;
      font-family: Arial, Helvetica, sans-serif;
}
 header {
    display:inline-block; 
    position: static;
    width: 100%;
    margin: 10px 0px 0px 0px;
}
 
header img {
    float: right;
    margin: 0px 10px 10px 10px;
}

h1 {
    text-align:center;
    color:green;
}

h3 {
    text-align:center;
    color: none;
}


ul {
    list-style-type: none;
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
    width: 125px;     
    background-color:lightgrey;

}

li {
    display: block;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 0px;
    text-align:center;
}

ul a {
    display: block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align:center;
}



a:link, a:visited {
  background-color: #FFFFFF;
  color: green;
  border:1px solid green; 
  border-radius:20px; 
  padding:5px;
  text-decoration: none;
}

a:hover {
  background-color: lightgreen;
  color: #FFFFFF;
}

a:active {
  background-color: yellow;
  color: #FFFFFF;
}

h2 {
   color:green;
   margin-left: 20px;
}


footer {
    width:100%;
     background-color:lightgrey;
     padding: 0px 0px 0px 20px; 
    
}
